{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/news.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/news.css') }}" ></noscript>
{% endblock %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="container page page-detail">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                {# breadcrumbs #}
                {{ include('news/components/breadcrumbs.html.twig') }}

                <article id="post-{{ post.getId() }}" class="news">
                    <h1 class="entry-title block-title text-center">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ post.getContents()|raw }}
                    </div>
                </article>
            </div>

            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>

    {{ render(controller(
        'AppBundle:News:listTestimonial'
    )) }}
{% endblock %}