{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/homepage.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}" ></noscript>
{% endblock %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "http://haibeauty.vn/",
        "logo": "http://haibeauty.vn/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84 0968409978",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "http://haibeauty.vn/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "http://haibeauty.vn/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Hải Beauty",
        "url": "http://haibeauty.vn/"
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="wrapper-container-item prices-table">
            <section class="section">
                <div class="section-content relative service-homepage container">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="col-inner">
                                <h1 class="title-section">DỊCH VỤ NỔI BẬT</h1>
                                <span class="text-center block-underline"></span>

                                <div class="row">
                                    {% for priceOnHomepage in blockPricesOnHomepage %}
                                        <div class="col col-12 col-sm-6 col-md-3">
                                            <div class="col-inner">
                                                <div class="box has-hover has-hover box-text-bottom">
                                                    <div class="box-image">
                                                        <picture>
                                                            <!--[if IE 9]><video style="display: none"><![endif]-->
                                                            <source
                                                                data-srcset="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                                                media="(max-width: 800px)" />
                                                            <source
                                                                data-srcset="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                                                media="(min-width: 801px)" />
                                                            <!--[if IE 9]></video><![endif]-->
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                data-src="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                                                class="lazyload"
                                                                alt="{{priceOnHomepage.getTitle()}}" />
                                                        </picture>
                                                    </div>
                                                    <div class="text-center">
                                                        <div class="box-text-inner">
                                                            <a href="{{ path('news_show', {'slug': priceOnHomepage.getUrl() }) }}" title="{{ priceOnHomepage.getTitle() }}"><strong>{{ priceOnHomepage.getTitle() }}</strong></a>
                                                            <p>{{ priceOnHomepage.getDescription()|slice(0, 105) }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section images-video">
                <div class="section-content relative container">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="col-inner">
                                <h1 class="title-section desk-show text-center">HÌNH ẢNH &amp; VIDEO</h1>
                                <span class="text-center block-underline"></span>

                                <div class="row align-center">
                                    <div class="col col-md-6 col-12">
                                        <div class="col-inner">
                                            <div class="slider-wrapper">
                                                <ul id="image-gallery">
                                                    {% for imageHomepage in imagesHomepage %}
                                                        <li data-thumb="{{ (vich_uploader_asset(imageHomepage, 'imageFile') ? vich_uploader_asset(imageHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('images_136_78') }}"> 
                                                            <a href="{{ (vich_uploader_asset(imageHomepage, 'imageFile') ? vich_uploader_asset(imageHomepage, 'imageFile') : asset('assets/images/no-image.png')) }}" data-fancybox="images">
                                                                <img src="{{ (vich_uploader_asset(imageHomepage, 'imageFile') ? vich_uploader_asset(imageHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('images_560_320') }}" />
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12">
                                        <div class="col-inner">
                                            <div class="slider-wrapper relative">
                                                <ul id="video-gallery">
                                                    {% for videoHomepage in videosHomepage %}
                                                        <li data-thumb="{{ (vich_uploader_asset(videoHomepage, 'imageFile') ? vich_uploader_asset(videoHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('images_136_78') }}" data-fancybox="video" href="https://www.youtube.com/embed/{{ videoHomepage.getYoutubeId() }}">
                                                            <img src="{{ (vich_uploader_asset(videoHomepage, 'imageFile') ? vich_uploader_asset(videoHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('images_560_320') }}" />
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section team-homepage">
                <div class="bg section-bg fill bg-fill bg-loaded"></div>

                <div class="section-content relative container">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="col-inner">
                                <h1 class="title-section">ĐỘI NGŨ BÁC SĨ</h1>
                                <span class="text-center block-underline"></span>

                                <div class="row">
                                    <div class="col col-md-7 col-12">
                                        <div class="col-inner">
                                            <div class="img">
                                                <div class="img-inner dark">
                                                    <img 
                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                        class="lazyload"
                                                        alt="Đội ngũ công ty"
                                                        srcset="{{ get_setting('teamImageHomepage') }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-5 col-12">
                                        <div class="col-inner-content">
                                            <h1><strong>ĐỘI NGŨ BÁC SỸ</strong></h1>
                                            <p>{{ get_setting('teamHomepage')|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {{ render(controller(
                'AppBundle:News:listTestimonial'
            )) }}
        </div>
    </div>
{% endblock %}