{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/homepage.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}" ></noscript>
{% endblock %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungkimanh.com/",
        "logo": "https://xaydungkimanh.com/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84 974776305",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungkimanh.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungkimanh.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Kim Anh",
        "url": "https://xaydungkimanh.com/",
        "sameAs": [
            "https://www.facebook.com/xaydungkimanh/",
            "https://twitter.com/xaydungkimanh",
            "https://www.linkedin.com/in/xaydungkimanh/",
            "https://www.youtube.com/channel/UCwYmkaoSIRgpZo2Us4FzleQ",
            "https://www.reddit.com/user/xaydungkimanh",
            "https://www.behance.net/xaydungkimanh/",
            "https://gab.com/xaydungkimanh"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="wrapper-container-item prices-table">
            <section class="section">
                <div class="section-content relative service-homepage container">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="col-inner">
                                <h1 class="title-section">DỊCH VỤ NỔI BẬT</h1>
                                <span class="text-center block-underline"></span>

                                <div class="row">
                                    {% for priceOnHomepage in blockPricesOnHomepage %}
                                        <div class="col col-12 col-sm-6 col-md-3">
                                            <div class="col-inner">
                                                <div class="box has-hover has-hover box-text-bottom">
                                                    <div class="box-image">
                                                        <picture>
                                                            <!--[if IE 9]><video style="display: none"><![endif]-->
                                                            <source
                                                                data-srcset="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                                                media="(max-width: 800px)" />
                                                            <source
                                                                data-srcset="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                                                media="(min-width: 801px)" />
                                                            <!--[if IE 9]></video><![endif]-->
                                                            <img
                                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                data-src="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                                                class="lazyload"
                                                                alt="{{priceOnHomepage.getTitle()}}" />
                                                        </picture>
                                                    </div>
                                                    <!-- box-image -->
                                                    <div class="text-center">
                                                        <div class="box-text-inner">
                                                            <a href="{{ path('news_show', {'slug': priceOnHomepage.getUrl() }) }}" title="{{ priceOnHomepage.getTitle() }}"><strong>{{ priceOnHomepage.getTitle() }}</strong></a>
                                                            <p>{{ priceOnHomepage.getDescription()|slice(0, 105) }}</p>
                                                        </div>
                                                        <!-- box-text-inner -->
                                                    </div>
                                                    <!-- box-text -->
                                                </div>
                                                <!-- .box  -->
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section images-video">
                <div class="section-content relative container">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="col-inner">
                                <h1 class="title-section desk-show text-center">HÌNH ẢNH &amp; VIDEO</h1>
                                <span class="text-center block-underline"></span>

                                <div class="row align-center">
                                    <div class="col col-md-6 col-12">
                                        <div class="col-inner">
                                            <div class="slider-wrapper">
                                                <ul id="image-gallery">
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg"> 
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg"> 
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg"> 
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg"> 
                                                    <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                        </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg"> 
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-6 col-12">
                                        <div class="col-inner">
                                            <div class="slider-wrapper relative">
                                                <ul id="image-gallery-2">
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" data-iframe="//www.youtube.com/embed/eKG08z85DtY?autoplay=1">
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" data-iframe="//www.youtube.com/embed/c0asJgSyxcY?autoplay=1">
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" data-iframe="//www.youtube.com/embed/SyZkgcAblC4?autoplay=1">
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" data-iframe="//www.youtube.com/embed/y_wzGwPWT84?autoplay=1">
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                    <li data-thumb="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" data-iframe="//www.youtube.com/embed/JI-5kh_4gO0?autoplay=1">
                                                        <img src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/6.jpg" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section team-homepage">
                <div class="bg section-bg fill bg-fill bg-loaded"></div>

                <div class="section-content relative container">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="col-inner">
                                <h1 class="title-section">ĐỘI NGŨ BÁC SĨ</h1>
                                <span class="text-center block-underline"></span>

                                <div class="row">
                                    <div class="col col-md-7 col-12">
                                        <div class="col-inner">
                                            <div class="img">
                                                <div class="img-inner dark">
                                                    <img 
                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                        class="lazyload"
                                                        alt="Đội ngũ công ty"
                                                        srcset="{{ get_setting('teamImageHomepage') }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-md-5 col-12">
                                        <div class="col-inner-content">
                                            <h1><strong>ĐỘI NGŨ BÁC SỸ</strong></h1>
                                            <p>{{ get_setting('teamHomepage')|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section dark testimonial">
                <div class="bg section-bg fill bg-fill bg-loaded"></div>

                <div class="section-content relative container">
                    <div class="row">
                        <div class="col col-12 col-md-12">
                            <div class="col-inner">
                                <h1 class="title-section text-white">CẢM NHẬN KHÁCH HÀNG</h1>
                                <span class="text-center block-underline"></span>

                                <div class="slider-wrapper">
                                    <div id="image-gallery-3">
                                        {% for row in testimonial %}
                                            <div class="icon-box testimonial-box">
                                                <div class="icon-box-img testimonial-image circle">
                                                    <img
                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                        alt="{{ row.getName() }}"
                                                        srcset="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                                        />
                                                </div>
                                                <div class="icon-box-text">
                                                    <div class="testimonial-text">
                                                        <p>“{{ row.getComments() }}”</p>
                                                    </div>
                                                    <div class="testimonial-meta">
                                                        {{ row.getName() }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}