<!-- Begin footer -->
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                    <img alt="{{ get_setting('siteName') }}" src="http://hb893.giaodienwebsite.top/wp-content/uploads/2019/12/logo-footer.png" alt="{{ get_setting('siteName') }}" />
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Thông tin công ty</h3>
                <ul class="footer-company">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>{{ get_setting('addressCompany') }}</span>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span><a href="tel:{{ get_setting('hotLine1') }}">{{ get_setting('hotLine1') }}</a></span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <span><a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a></span>
                    </li>
                    <li>
                        <i class="fab fa-internet-explorer"></i>
                        <span><a href="{{ path('homepage') }}">{{ get_setting('websiteCompany') }}</a></span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Chính sách hỗ trợ</h3>
                <ul class="about-us">
                    <li>
                        <a href="{{ path('news_category', {'level1': 'xay-dung-nha-pho' }) }}" title="Chính sách thanh toán">Chính sách thanh toán</a>
                    </li>
                    <li>
                        <a href="{{ path('news_category', {'level1': 'sua-chua-nha-dep' }) }}" title="Chính sách bảo mật">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="{{ path('news_category', {'level1': 'thiet-ke-nha-pho' }) }}" title="Khách hàng thân thiết">Khách hàng thân thiết</a>
                    </li>
                    <li>
                        <a href="{{ path('news_category', {'level1': 'bang-gia' }) }}" title="Quy định chung">Quy định chung</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-uppercase">Đăng ký tư vấn</h3>
                <div>
                    
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12 text-center">
                <p>
                    Copyright © {{ "now"|date('Y') }} <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">{{ get_setting('siteName') }}</a>, all rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->