{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/contact.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/contact.css') }}" ></noscript>
{% endblock %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="container contacts page-detail">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                {{ include('news/components/breadcrumbs.html.twig') }}

                <div class="company">
                    <h3 class="text-uppercase">Thông tin liên hệ</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span><strong>Cửa hàng: {{ get_setting('addressCompany') }}</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span><strong>{{ get_setting('hotLine1') }}</strong></span>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <span><strong>{{ get_setting('emailContact') }}</strong></span>
                        </li>
                        <li>
                            <i class="fab fa-internet-explorer"></i>
                            <span><strong>{{ get_setting('websiteCompany') }}</strong></span>
                        </li>
                    </ul>

                    {{ get_setting('mapCompany')|raw }}
                </div>
            </div>

            
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}